# I. Setup pour l'analyse

In [2]:
#import
from sqlalchemy import text, create_engine
import pandas as pd
import numpy as np

# Preprocessing
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, RobustScaler, LabelEncoder
from sklearn.pipeline import Pipeline

from unidecode import unidecode

from textblob import TextBlob, Blobber
from textblob_fr import PatternTagger, PatternAnalyzer

# modèle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
import pickle

from utils import data_preproc

Import et preproc dataset

In [78]:
# def data_preproc(data):
#     #garde seulement lignes où certificate_eligible et grade ne sont pas null
#     data.dropna(subset=['certificate_eligible', 'grade'], inplace = True)

#     # vire colonne inutile total_length
#     data = data.drop("total_length", axis=1)

#     # encode le label
#     data['certificate_eligible'] = LabelEncoder().fit_transform(data['certificate_eligible'])

#     #prépare le corpus pour textblob
#     data["corpus"]= data["corpus"].str.lower()
#     # envlever les accents
#     unidec_corpus = []
#     for (i, row) in data.iterrows():
#         truc = unidecode(row['corpus'])
#         # print(f"user: {row['user']} course :{row['course_id']} new_corp:{truc[:25]}")
#         unidec_corpus.append(truc)

#     data["corpus"] = unidec_corpus

#     tb = Blobber(pos_tagger=PatternTagger(), analyzer=PatternAnalyzer())

#     polarity = []
#     subjectivity = []

#     for (i, row) in data.iterrows():
#         # if i>10: quit()
#         blob = tb(row['corpus'])
#         # print(f"user: {row['user']} course :{row['course_id']} sentiment:{blob.sentiment}")
#         polarity.append(blob.sentiment[0])
#         subjectivity.append(blob.sentiment[1])

#     #update le dataset avec les nouvelles valeurs
#     data['polarity']=polarity
#     data['subjectivity']=subjectivity

#     return(data)

In [2]:
data = pd.read_csv("data/dataset.csv", sep = ",")
data = data_preproc(data)
data.head()

,user,gender,country,level_of_education,course_id,nb_threads,nb_comments,corpus,delai_1er_post,grade,certificate_eligible,polarity,subjectivity
10,-Luca-,NaN,NaN,NaN,course-v1:MinesTelecom+04017+session03,0,1,"bonjour, je m'appelle luca, je suis consultant...",5,0.38,0,0.126667,0.275000
44,0cbr,NaN,NaN,NaN,course-v1:MinesTelecom+04018+session03,0,1,"bonjour,\nj'ai le meme type de pb .\nje n arri...",28,0.80,1,-0.200000,0.300000
46,0cbr,NaN,NaN,NaN,MinesTelecom/04021S02/session02,1,0,beaucoup de temps passe sur le net pour compre...,26,0.35,0,0.043750,0.325000
57,123AZER,NaN,NaN,NaN,CNAM/01002S04/session04,1,0,"bonjour, nicolas 50 ans officier de sapeurs-po...",10,0.77,1,0.174286,0.278571
68,12nono12,NaN,NaN,NaN,MinesTelecom/04017S02/session02,0,1,"en fait dans le simulateur, le servo moteur se...",31,0.98,1,0.015000,0.175000

In [3]:
#drop des outliers
data = data[data.user != "EGo41"]
data = data[data.user != "bgaultier"]
data = data[data.user != "EllaHamonic"]
data = data[data.user != "stiphaen"]
data.shape

(5314, 13)

# II. Modèle

## 1 Classification

In [3]:
from pycaret.classification import *

In [5]:
data_class = data.drop(['user', 'course_id', 'corpus','grade'], axis=1)
data_class.head()

,gender,country,level_of_education,nb_threads,nb_comments,delai_1er_post,certificate_eligible,polarity,subjectivity
10,NaN,NaN,NaN,0,1,5,0,0.126667,0.275000
44,NaN,NaN,NaN,0,1,28,1,-0.200000,0.300000
46,NaN,NaN,NaN,1,0,26,0,0.043750,0.325000
57,NaN,NaN,NaN,1,0,10,1,0.174286,0.278571
68,NaN,NaN,NaN,0,1,31,1,0.015000,0.175000

In [6]:
s = setup(data_class, target = 'certificate_eligible')

In [7]:
best = compare_models()

In [8]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [9]:
print(best)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=4566, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [10]:
predict_model(best)

,nb_threads,nb_comments,delai_1er_post,polarity,subjectivity,gender_f,gender_m,gender_not_available,country_AD,country_AU,...,level_of_education_hs,level_of_education_jhs,level_of_education_m,level_of_education_none,level_of_education_not_available,level_of_education_other,level_of_education_p,certificate_eligible,Label,Score
0,0.0,5.0,2.0,0.213214,0.290476,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7196
1,0.0,1.0,13.0,0.083125,0.175000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0.6167
2,0.0,1.0,14.0,0.150000,0.350000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.6832
3,1.0,2.0,3.0,0.101429,0.207143,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7372
4,4.0,1.0,1.0,0.079950,0.262000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.6648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1590,0.0,1.0,67.0,0.166000,0.340000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7395
1591,0.0,1.0,25.0,0.275000,0.100000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.6495
1592,2.0,9.0,4.0,0.066184,0.199815,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.8356
1593,2.0,0.0,23.0,-0.250000,0.500000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1,0.7375
1594,1.0,0.0,0.0,0.700000,0.700000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0.6781

In [11]:
# export model
save_model(best, 'data/my_best_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[],
                                       target='certificate_eligible',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None...
                                             learning_rate=0.1, loss='deviance',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             presort='deprecated',
                                             random_state=4566, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False)]],
          verbose=False),
 'data/my_best_pipeline.pkl')

## 2 Regression

In [6]:
data_class = data.drop(['user', 'course_id', 'corpus','certificate_eligible'], axis=1)
data_class.head()

,gender,country,level_of_education,nb_threads,nb_comments,delai_1er_post,total_length,grade,polarity,subjectivity
10,NaN,NaN,NaN,0,1,5,554,0.38,0.126667,0.275000
44,NaN,NaN,NaN,0,1,28,213,0.80,-0.200000,0.300000
46,NaN,NaN,NaN,1,0,26,216,0.35,0.043750,0.325000
57,NaN,NaN,NaN,1,0,10,336,0.77,0.174286,0.278571
68,NaN,NaN,NaN,0,1,31,261,0.98,0.015000,0.175000

In [7]:
from pycaret.regression import *

In [13]:
s = pycaret.regression.setup(data_class, target = 'grade')

In [14]:
best = compare_models()

In [15]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [ ]:
print(best)

In [ ]:
predict_model(best)

# III. Prediction

In [4]:
# charger le modèle avec pycaret
loaded_model = load_model('data/my_best_pipeline')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(steps=[('dtypes',
                 DataTypes_Auto_infer(ml_usecase='classification',
                                      target='certificate_eligible')),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric_strategy='mean',
                                target_variable=None)),
                ('new_levels1',
                 New_Catagorical_Levels_in_TestData(replacement_strategy='least '
                                                                         '...
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='certificate_eligible')),
                ('fix_perfect', Remove_100(target='certificate_eligible')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough'),
                ['trained_model',
                 GradientBoostingClassifier(random_state=4566)]])

In [7]:
# # Si besoin de le récupérer avec pickle
# filename = 'data/modele_redump.sav'
# pickle.dump(loaded_model, open(filename, 'wb'))
# print("modele enregistré")

modele enregistré

In [8]:
# # load the model from disk
# filename = 'data/modele_redump.sav'
# loaded_model = pickle.load(open(filename, 'rb'))
# print("modèle chargé")

modèle chargé

In [9]:
# admettons que ces éléments soient l'ensemble des données entrées par l'utilisateur dans le formulaire
# VERSION DEVRAIT VALIDER
gender = "f"
country = np.NaN
level_of_education = np.NaN
nb_threads = 0
nb_comments = 50
# corpus = "c'est un roc, c'est un pic, c'est un cap, que dis-je c'est un cap, c'est une péninsule!"
corpus = "c'est nul, je n'aime pas, je suis subjectif et négatif"
delai_1er_post = 1

In [21]:
# admettons que ces éléments soient l'ensemble des données entrées par l'utilisateur dans le formulaire
# VERSION NE DEVRAIT PAS VALIDER
gender = "m"
country = "FR"
level_of_education = "hs"
nb_threads = 1
nb_comments = 0
# corpus = "c'est un roc, c'est un pic, c'est un cap, que dis-je c'est un cap, c'est une péninsule!"
corpus = "c'est nul, je n'aime pas, je suis subjectif et négatif"
delai_1er_post = 50

In [18]:
# traitement du corpus
#lower case
corpus = corpus.lower()
# enlever les accents
corpus= unidecode(corpus)

# analyse de sentiments
tb = Blobber(pos_tagger=PatternTagger(), analyzer=PatternAnalyzer())
blob = tb(corpus)

polarity = (blob.sentiment[0])
subjectivity = (blob.sentiment[1])

In [22]:
# create df
df_input = pd.DataFrame(columns=["gender", "country", "level_of_education", "nb_threads", "nb_comments", "delai_1er_post", "polarity", "subjectivity"])
df_input.loc[0] = [gender, country, level_of_education, nb_threads, nb_comments, delai_1er_post, polarity, subjectivity ]

df_input

,gender,country,level_of_education,nb_threads,nb_comments,delai_1er_post,polarity,subjectivity
0,m,FR,hs,1,0,10,0.1,0.2

In [23]:
# prediction avec le modele
y_pred = loaded_model.predict(df_input)
print(y_pred)

if y_pred == [1]:
    print("Cet utilisateur devrait valider le diplome")
else: 
    print("Cet utilisateur ne devrait pas valider le diplome")

[1]
Cet utilisateur devrait valider le diplome